%h3 Prepare for battle

-$settings = $game->getPlayer($user->id)->pivot

.player_settings
	!= Former::open(route('game player settings', $game->id))

	!= Former::text('name')->value($settings->name)->required()

	-$unused_colors = $game->unused_colors;

	-foreach(App\Game::$colors as $name=>$color)
		.color-input(style="display: inline-block; background: #{$color};")
			-$selected = ($settings->color == $name) ? 'checked' : ''
			-if(array_key_exists($name,$unused_colors) || !empty($selected))

				%input(type="radio" name="color" value=$name #{$selected} )

	!= Former::hidden('user_id', $user->id)
	!= Former::submit('Save Settings')

	!= Former::close()
